
<h3>Welcome to the administration menu</h3>
<ul>
  <li><%= link_to "Mime types", mime_types_path %></li>
  <li><%= link_to "Extensions", extensions_path %></li>
  <li><%= link_to "Syntaxes", syntaxes_path %></li>
  <li><%= link_to "Change editor general message", edit_site_content_path('editor_general_message') %>
  <li><%= link_to "Change news page", edit_site_content_path('news') %>
</ul>