<%= form_for(@extension) do |f| %>
  <% if @extension.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@extension.errors.count, "error") %> prohibited this extension from being saved:</h2>

      <ul>
      <% @extension.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :syntax %>
    <%= f.select :syntax_id, Syntax.all.map { |syntax| [syntax.display_name, syntax.id] } %>
  </div>
  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
