<h1>Listing extensions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Syntax</th>
    <th>Mime type</th>
    <th></th>
    <th></th>
  </tr>

<% @extensions.each do |extension| %>
  <tr>
    <td><%= extension.name %></td>
    <td><%= extension.syntax.display_name %></td>
    <td><%= extension.mime_type.type_name %></td>
    <td><%= link_to 'Edit', edit_extension_path(extension) %></td>
    <td><%= link_to 'Destroy', extension, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Extension', new_extension_path %>
