<div class="modal fade" id="<%= defined?(id) ? id : "progress_modal" %>" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= title %></h4>
      </div>
      <div class="modal-body" id="<%= defined?(id) ? "#{id}_body" : "progress_modal_body" %>">
        <% if not defined?(with_bar) or with_bar%>
          <%= render 'shared/loading_bar' %>
        <% end %>
        <%= message %>
      </div>
      <div class="modal-footer">
      <% if defined?(buttons) %>
        <% buttons.each do |id, value| %>
            <button id="<%= id %>" type="button" class="btn btn-primary"><Save changes><%= value%></button>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>