<div class="modal fade" id="<%= defined?(id) ? id : "progress_modal" %>" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%= title %></h4>
      </div>
      <div class="modal-body" id="<%= defined?(id) ? "#{id}_body" : "progress_modal_body" %>">
        <%= render 'shared/loading_bar' %>
        <%= message %>
      </div>
    </div>
  </div>
</div>