<h1>Mimetypes</h1>

<table>
  <tr>
    <th>TYPE</th>
    <th>Integrated with Drive SDK</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mime_types.each do |mime_type| %>
  <tr>
    <td><%= mime_type.type_name %></td>
    <td><%= mime_type.integrated %></td>
    <td><%= link_to 'Show', mime_type %></td>
    <td><%= link_to 'Edit', edit_mime_type_path(mime_type) %></td>
    <td><%= link_to 'Destroy', mime_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mime type', new_mime_type_path %>
