<nav class="editor_nav_bar navbar navbar-default" role="navigation">
  <ul class="editor_nav_bar nav navbar-nav">
    <li>
      <a id="file_drop_btn" data-toggle="dropdown" class="dropdown dropdown-toggle" href="#">
        File
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu" aria-labelledby="file_drop_btn" role="menu">
        <li><a href="<%= new_g_file_path %>" target="_blank">New</a></li>
        <li><a href="#" class="editor_save_button" >Save</a></li>
        
       
        <% if @file.persisted %>
          <li><a href="<%= g_file_path(@file)%>" target="_blank">Print</a></li>
        <% end %>
        
        <li><a href="<%= root_path %>">App home page</a></li>
        <li><a href="#" class="show_file_info" >Show file info</a></li>
      </ul>
      
      
    </li>
    
    <li>
      <a id="file_drop_btn" data-toggle="dropdown" class="dropdown dropdown-toggle" href="#">
        Options
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu" aria-labelledby="file_drop_btn" role="menu">
        <li>
          <a href="#" onclick="javascript:close_menu(true)">
            Minimize the menu 
            <span class="icon-rotated glyphicon glyphicon-log-in"  title="Minimize menu"></span>
          </a>
        </li>
        
        <li>
          <a href="#" data-toggle="modal" data-target="#select_theme_modal">
            Select theme
            
          </a>
        </li>
      
      
        <li class="dropdown-submenu">
          <a href="#" >Syntax</a>
          <ul class="dropdown-menu">
            <% build_syntax_menus.each do |letters, syntaxes| %>
              <li class="dropdown-submenu">
                <a href="#" ><%=letters%></a>
                <ul class="dropdown-menu">
                  <% syntaxes.each do |syntax| %>
                    <li>
                      <a href="#" class="syntax_button" id="syntax_<%= syntax.ace_js_mode %>" mode="<%= syntax.ace_js_mode %>">
                        <% if syntax == @file.syntax %>
                          <span id="syntax_check" class="glyphicon glyphicon-ok"></span>
                        <% end %>
                        <%= syntax.display_name %>
                        
                      </a>                  
                    </li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </ul>
        </li>
        
        <li class="dropdown-submenu">
          <a href="#" >Font size</a>
          <ul class="dropdown-menu">
            <li class="dropdown">
              <span id="font_check" class="glyphicon glyphicon-ok"></span>
              <a href="#" value="0.5em" id="font_0.5em" class="font_size_button"> Small</a>
              <a href="#" value="1em" id="font_1em" class="font_size_button"> Normal</a>
              <a href="#" value="1.5em" id="font_1.5em" class="font_size_button"> Large</a>
              <a href="#" value="2em" id="font_2em" class="font_size_button"> X-Large</a>
            </li>
          </ul>
        </li>
        
        <li class="dropdown-submenu">
          <a href="#" >Tab size</a>
          <ul class="dropdown-menu">
            <li class="dropdown">
              <span id="tab_check" class="glyphicon glyphicon-ok"></span>
              <a href="#" value="2" id="tab_2" class="tab_size_button"> 2 </a>
              <a href="#" value="3" id="tab_3" class="tab_size_button"> 3 </a>
              <a href="#" value="4" id="tab_4" class="tab_size_button"> 4 </a>
              <a href="#" value="5" id="tab_5" class="tab_size_button"> 5 </a>
            </li>
          </ul>
        </li>
        
        <li>
          <a href="#" onclick="javascript:toggle_word_wrap()">
            Word wrap
            <span id="word_wrap_check" class="glyphicon glyphicon-ok" style="display:none"></span>
          </a>
        </li>
        
        <li>
          <a href="#" onclick="javascript:toggle_cache_file_explorer()">
            Keep file explorer opened
            <span id="cache_file_explorer_check" class="glyphicon glyphicon-ok" style="display:none"></span>
          </a>
        </li>
        
      </ul>
    </li>
    
    
  </ul>
 

  
  <ul id="minimize_menu_nav" class="nav navbar-nav navbar-right">
    <li><a href="#" class="close_menu_button icon-rotated glyphicon glyphicon-log-in" onclick="javascript:close_menu(true)" title="Minimize menu"></a></li>
  </ul>
</nav>

<script>
    function close_menu(save_pref){
      save_pref = typeof save_pref !== 'undefined' ? save_pref : false;
      $('.g_file_menu').fadeOut(function(){
          $('.g_file_menu').hide(
            function(){$('#editor').animate(EDITOR_FULL_METRICS, function(){
              editor.resize()   
              $('.small_g_file_menu').fadeIn(function(){
                if(save_pref){
                  send_prefers_opened(false)
                }
              })
            })
          })
        });
      
    }
    
    function open_menu(save_pref){
      save_pref = typeof save_pref !== 'undefined' ? save_pref : false;
      $('.small_g_file_menu').fadeOut()
      $('#editor').animate(EDITOR_W_MENU_METRICS,function(){
        editor.resize()  
        $('.g_file_menu').fadeIn(function(){
          if(save_pref){
            send_prefers_opened(true)
          }
        })
      })
    }
    
    function send_prefers_opened(opened){
      ajax_defered_waiting['send_prefers_opened'] = true 
      var prefers_minimized;
      if(opened){
        prefers_minimized = "false"
      }
      else{
        prefers_minimized = "true"
      }
      $.ajax(
      {
        url: '/preferences/get_update?prefers_minimized='+prefers_minimized, 
        statusCode: {
          403: function(data){
            ajax_defered_waiting['send_prefers_opened'] = false
            show_reauth()
          },
          200: function(data){
            ajax_defered_waiting['send_prefers_opened'] = false
          }
        }
      })
    }
  
  var word_wrap_enabled = false;
  function toggle_word_wrap(){
     ajax_defered_waiting['toggle_word_wrap'] = true;
    word_wrap_enabled = !word_wrap_enabled;
    editor.getSession().setUseWrapMode(word_wrap_enabled)
    if(word_wrap_enabled){
        $('#word_wrap_check').show()
    }
    else{
      $('#word_wrap_check').hide()
    }
    $.ajax(
    {
      url: '/preferences/get_update?word_wrap='+word_wrap_enabled, 
      statusCode: {
        403: function(data){
          ajax_defered_waiting['toggle_word_wrap'] = false
          show_reauth()
        },
        200: function(data){
          ajax_defered_waiting['toggle_word_wrap'] = false
        }
      }
    })
  }
  
  function toggle_cache_file_explorer(){
    ajax_defered_waiting['toggle_cache_file_explorer'] = true;
    cache_file_explorer_enabled = !cache_file_explorer_enabled;
    if(cache_file_explorer_enabled && cache_explorer()){
      $('#cache_file_explorer_check').show()
    }
    else{
      $('#cache_file_explorer_check').hide()
      cache_file_explorer_enabled = false;
    }
    $.ajax(
    {
      url: '/preferences/get_update?cache_file_explorer_enabled='+cache_file_explorer_enabled, 
      statusCode: {
        403: function(data){
          ajax_defered_waiting['toggle_cache_file_explorer'] = false
          show_reauth()
        },
        200: function(data){
          ajax_defered_waiting['toggle_cache_file_explorer'] = false
        }
      }
    })
  }

</script>
