<div class="g_file_menu">
  <%= form_for @file, :html => {:class => :editor_form, :multipart => true } do |f| %>
    
    <%= f.hidden_field :id %>
    <%= f.hidden_field :folder_id %>
    <%= f.hidden_field :content %>
    <div>
      <% f.text_field :type, :disabled => true %>
    </div>
      
      
    <div class="panel panel-default">
      <div class="panel-heading">
        
  	<div class="btn-group">
  		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
  	    File/Options <span class="caret"></span>
  	  </button>
  	  <ul class="dropdown-menu">
  	  	<li><a href="<%= new_g_file_path %>" target="_blank">New</a></li>
  	    <li><a href="#" onclick="$(this).closest('form').submit()">Save</a></li>
        <li class="dropdown-submenu">
          <a href="#" >Syntax</a>
          <ul class="dropdown-menu">
          	<% build_syntax_menus.each do |letters, syntaxes| %>
            	<li class="dropdown-submenu">
              <a href="#" ><Syntax><%=letters%></a>
              <ul class="dropdown-menu">
              	<% syntaxes.each do |syntax| %>
              		<li>
              			<a href="#" class="syntax_button" id="syntax_<%= syntax.ace_js_mode %>" mode="<%= syntax.ace_js_mode %>">
              				<% if syntax == @file.syntax %>
                				<span id="syntax_check" class="glyphicon glyphicon-ok"></span>
                			<% end %>
              				<%= syntax.display_name %>
              				
              			</a>            			
              		</li>
              	<% end %>
              </ul>
            </li>
         
            <% end %>
          </ul>
          
        </li>
  	  </ul>
  	</div>
   
      </div>
      <div class="panel-body">
      
     	  
        <div class="file_title input-group">
          
          <%= f.text_field :title, :class=> "field form-control", :placeholder => "File title" %>
          <span class="input-group-btn ">
            <%= f.submit "SAVE", :class => "btn btn-primary"%>
          </span>
        </div>
        <div class="input-group ">
          <%= f.label "Save as new revision", :class => "form-control", :for => "g_file_new_revision" %>
          <span class="input-group-addon">
            <%= f.check_box :new_revision %>
          </span>
        </div>
      </div>
    </div>

    <%= render 'shared/error_messages', :object => f.object %>
      
  <% end %>
  
  <%= render 'shared/flash', :flash => flash %>
  <div class="g_file_editor_file_explorer">
    <%= render 'shared/file_explorer', :with_dropdown => true %>
  </div>
  
  
<div>

<div class="g_file_editor">
  
  <div id="editor"><%= @file.content %></div>
  <script type="text/javascript">
      var editor = ace.edit("editor");
      var syntax = "<%= @file.syntax.ace_js_mode %>"
      editor.setTheme("ace/theme/dawn");
      editor.getSession().setMode("ace/mode/<%= @file.syntax.ace_js_mode %>");
      
      function set_ace_mode(mode){
      	syntax = mode
      	var check = $('#syntax_check').detach();
      	$('#syntax_'+mode).prepend(check)
      	editor.getSession().setMode("ace/mode/"+mode);
      }
      
      $(".syntax_button").click(function(){set_ace_mode($(this).attr('mode'))})
      
      $('.editor_form').submit(function(){
          $('#g_file_content').val(editor.getValue())
      });
  </script>
</div>