<div id="editor_app">
  <div id="loading_overlay"></div>
  <%= render :partial => 'shared/modal', :locals => {:id => "file_load_modal", :title => "Your file is being loaded", :message => "Depending on the file size, this can be long."} %>
  <%= render :partial => 'shared/modal', :locals => {:id => "app_load_modal", :title => "The application is being loaded", :message => ""} %>
  <%= render :partial => 'shared/modal', :locals => {:id => "clearance_wait_modal", :title => "Waiting for your preferences to be saved.", :message => "This should take a few seconds. You can skip this step if it is too long.", :buttons => {'skip_clearance' => "Skip"}} %>
  <%= render :partial => 'shared/modal', :locals => {:id => "auth_failed_modal", :title => "The authentication failed with Google", :message => "You need to enable the popups in your browser, then login in your Google account and accept the app's authorization requests.", :with_bar => false, :buttons => {'restart_app' => 'Restart app'}} %>
  <%= render :partial => 'shared/modal', :locals => {:id => "error_modal", :title => "An unexpected error occured with the provider server", :message => "The app flow will still continue but unexpected behavior may occur. When in doubt restart the app.", :with_bar => false, :dismiss => true} %>
  <%= render :partial => 'shared/modal', :locals => {:id => "file_explorer_progress_modal", :title => "Your file is being loaded", :message => "Press escape to cancel"} %>
  <%= render :partial => 'shared/modal', :locals => {:id => "auth_modal", :title => "You need to authorize this app to access your Google Drive", :message => "Without this the app is useless to you.", :with_bar => false, :buttons => {'start_g_oauth' => 'Authorize!'} } %>
  <%= render 'file_info' %>
  <%= render :partial => 'major_notice_modal' %>
  <%= render :partial => 'terms' %>
  <%= render :partial => 'flash' %>

  <div id="print_content" style="display:none">
    <%= render :partial => 'print' %>
  </div>

  <script id="editor-template" class="template" type="text/x-handlebars-template">
    <div id="editor_menu_container" >
      <div id="editor_menu" class="g_file_menu" >

        <%= render 'editor_menu' %>

        <%= render 'shared/editor_message' %>

      </div>

    </div>

    <div class="g_file_editor">
      <div id="editor"></div>
    </div>
        
    <%= render 'shared/user' %>

  </script>
</div>


<script type="text/javascript">
  var locales = {
    "nl"    : "Dutch",
    "en"    : "English",
    "fr"    : "French",
    "de"    : "German",
    "it"    : "Italian",
    "pt-BR" : "Portuguese (BR)",
    "es"    : "Spanish",
  }
  var locales_definition = {
    "nl"    : <%= render 'locales/nl.json' %>,
    "en"    : <%= render 'locales/en.json' %>,
    "fr"    : <%= render 'locales/fr.json' %>,
    "de"    : <%= render 'locales/de.json' %>,
    "it"    : <%= render 'locales/it.json' %>,
    "es"    : <%= render 'locales/es.json' %>,
    "pt-BR" : <%= render 'locales/pt_BR.json' %>,
  }
  String.toLocaleString(locales_definition);
  var desired_locale = getCookie("locale");
  if(desired_locale && desired_locale != "auto"){
    String.locale = desired_locale;
  }
  function i18n(string) {
    return string.toLocaleString();
  }

  var templates = $('.template');
  var context = {
    locales : locales,
  };

  Handlebars.registerHelper('i18n', i18n);
  templates.each( function() {
    var $source = $(this);
    var source = $source.html();
    var template = Handlebars.compile(source);
    $(template(context)).insertAfter($source);
  });

 $("#app_load_modal").modal({'show':true,backdrop: true,backdrop: 'static', keyboard:false});
 $('.modal-backdrop.fade.in').css('opacity', '1.0')

  var oauth_controller = new GoogleOAuthController({
    scopes : "<%= @gapi.get_scopes.join(' ') %>" 
  });

  var user_preferences;
  var editor_controller;
  var top_menu_controller;
  var menu_controller;

  var application = new ApplicationController();

  oauth_controller.add_to_queue(function(){
    user_preferences = new Preferences(
      function(){
        editor_controller = new EditorController("editor_app", {
          'word_wrap_pref':BooleanPreference.find('word_wrap'),
          'font_size_pref': StringPreference.find('ace_js_font_size'),
          'tab_size_pref' : StringPreference.find('ace_js_tab_size'),
          'major_notice_pref' : IntPreference.find('major_notice'),
          'theme_pref': StringPreference.find('theme'),
          'menu_width_pref' : StringPreference.find('menu_width'),
          'keybinding_pref' : StringPreference.find('keybinding'),
          'flash' : new FlashController('editor_flash'),
          'file_explorer': new FileExplorerController("file_explorer_container", {
            'height_pref' : StringPreference.find('file_explorer_height'),
            }),
          'favorites_controller': new FavoritesController({
            favorites_pref:ArrayPreference.find("favorites"),
            menu_controller:menu_controller,
          }),
        })
        editor_controller.favorites_controller.parent = editor_controller;

        editor_controller.file_explorer.parent = editor_controller;
        editor_controller.file_explorer.flash = editor_controller.flash;
        editor_controller.oauth_controller = oauth_controller;
        editor_controller.file_explorer.load();
        
        if(application.dev_mode){
          editor_controller.flash.sticky_warning("<a href='javascript:void(0)' onclick='javascript:application.stop_dev_mode()'>You are using the BETA version of the app. Bugs may occur. Click here to go back to the stable version</a>");
        }
        else {
          editor_controller.flash.sticky_success("<a href='javascript:void(0)' onclick='javascript:application.try_dev_mode()'>Click here to try out the BETA version of version 4!</a>");
        }
        
        editor_controller.flash.sticky_success("<a target='_blank' href='/help_translate.html'>Interested in translating the app in your language ? Click here</a>");
        
        if(!String.locale.match('^en')){
          editor_controller.flash.sticky_success("<a target='_blank' href='http://bit.ly/afn-community'>You are using a translated version of the app. Report bad translations by clicking here</a>");
        }

        new EditorRouter(editor_controller)
        top_menu_controller = new TopMenuController("menu", { 'flash' : editor_controller.flash, 'editor':editor_controller });

        // check for browser compat
        setTimeout(function(){
          editor_controller.browser_check();
        }, 5000);
      }
    )
  })

  menu_controller = new MenuController("menu");

//editor_controller.initialize_html() 
 var dropbox_oauth_controller = new DropboxOAuthController({});
</script>
