<div class="navbar navbar-default" id="menu">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><%= image_tag "logo.png", :width => 50, :height => 50 %><div class="ripple-wrapper"><div class="ripple ripple-on" style="left: 63.5px; top: 23px; -webkit-transform: scale(9.625); transform: scale(9.625); background-color: rgba(255, 255, 255, 0.843137);"></div></div></a>
  </div>
  <div>
    <ul class="nav navbar-nav">
      <!-- FILE/* -->
      <li>
        <a href="javascript:void(0)" class="menu_item">File</a>

        <div class="menu_content">
          <ul class="menu_list">
            <li><a href="#new" target="_blank" onclick="javascript:menu_controller.hide_menu();">New</a></li>

            <li><a href="javascript:void(0);" onclick="javascript:editor_controller.save();menu_controller.hide_menu();" >Save</a></li>

            <li><a href="javascript:void(0);" onclick="javascript:editor_controller.print();menu_controller.hide_menu()" >Print</a></li>
            
            <li>
              <a href="javascript:void(0);" onclick="javascript:editor_controller.open_search();menu_controller.hide_menu()">
                Search (Ctrl-F)
              </a>
            </li>
            
            <li>
              <a href="javascript:void(0);" onclick="javascript:editor_controller.open_replace();menu_controller.hide_menu()">
                Search & replace
              </a>
            </li>
            
            <li><a href="<%= root_path %>">App home page</a></li>

            <li><a href="javascript:void(0);" onclick="javascript:editor_controller.show_file_info();menu_controller.hide_menu()" >Show file info</a></li>

            <li><a href="javascript:void(0);" onclick="javascript:editor_controller.restart_app()">Restart app</a></li>
          </ul>
        </div>
      </li>
      <!-- */FILE -->

      <li>
        <a href="javascript:void(0)" class="menu_item">Open</a>
        <div class="menu_content">
          <%= render 'shared/file_explorer', :with_dropdown => true %>
        </div>
      </li>

      <!-- OPTIONS/* -->
      <li>
        <a href="javascript:void(0)" class="menu_item" >Options</a>
        <div class="menu_content" data-show-callback="editor_controller.options_show_callback()">
          <div class="options">

            <div class="row">

              <div class="col-xs-3">
                Editor mode :
                <select class="keybinding_select form-control">
                  <option value="normal">Normal</option>
                  <option value="vim">vim</option>
                  <option value="emacs">Emacs</option>
                </select>
              </div>

              <div class="col-xs-3">
                Tab size :
                <select class="tab_size_select form-control">
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>

              <div class="col-xs-3">
                Font size :
                <select class="font_size_select form-control">
                  <option value="0.5em">Small</option>
                  <option value="1em">Normal</option>
                  <option value="1.5em">Large</option>
                  <option value="2em">X-large</option>
                </select>
              </div>

              <div class="col-xs-3">
                <div class="togglebutton">
                  <label>
                    Word wrapping : <input type="checkbox" class="word_wrap_checkbox">
                  </label>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-xs-offset-2 col-xs-4">
                <a class="sub_menu_item btn btn-primary" href="javascript:void(0)">Select syntax</a>
                  <div class="menu_content">
                      <div class="syntaxes">
                        <a href="javascript:void(0)" class="menu_back btn btn-primary btn-fab btn-raised mdi-navigation-arrow-back"></a>
                        <ul class="menu_list">
                          <% build_syntax_menus.each do |letters, syntaxes| %>
                              <li>
                              <a href="javascript:void(0);" class="sub_menu_item" ><%=letters%></a>
                              <div class="menu_content">
                                <div class="syntaxes">
                                  <a href="javascript:void(0)" class="menu_back btn btn-primary btn-fab btn-raised mdi-navigation-arrow-back"></a>
                                   <ul class="menu_list">
                                      <% syntaxes.each do |syntax| %>
                                        <li>
                                          <a href="javascript:void(0);" class="syntax_button syntax_<%= syntax.ace_js_mode %>" onclick="menu_controller.hide_menu();editor_controller.set_syntax_mode('<%= syntax.ace_js_mode %>',true);">
                                            <%= syntax.display_name %>
                                          </a>                  
                                        </li>
                                      <% end %>
                                  </ul>
                                </div>
                               
                              </div>
                            </li>
                          <% end %>
                        </ul>
                      </div>
                  </div>
              </div>

              <div class="col-xs-4">
                <a class="sub_menu_item btn btn-primary" href="javascript:void(0)">Select theme</a>
                <div class="menu_content">
                  <div class="row themes">
                  <a href="javascript:void(0)" class="menu_back themes_back btn btn-primary btn-fab btn-raised mdi-navigation-arrow-back"></a>
                    <% 
                    themes = themes_list 
                    themes.prepend("dummy")
                    themes.prepend("dummy")
                    themes.prepend("dummy")
                    %>
                    <% themes.each_slice(12).to_a.each do |theme_array| %>
                      <div class="col-md-4">
                        <div class="theme_choice_column btn-group-vertical"> 
                          <% theme_array.each do |theme| %>
                            <% if theme == "dummy" %>
                              <a href="javascript:void(0);" class="btn-dummy"><%= theme_display_name(theme) %></a>
                            <% else %>
                              <a href="javascript:void(0);" class="btn btn-default btn_theme theme_<%=theme_name(theme)%>" onclick="javascript:editor_controller.select_theme('<%= theme_name(theme) %>')"><%= theme_display_name(theme) %></a>
                            <% end %>
                          <% end %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>


            </div>

          </div><!-- */OPTIONS CONTENT -->
        </div>
      </li><!-- */OPTIONS -->

    </ul>
    <form id="file_title_form" class="navbar-form navbar-left" onsubmit="javascript:editor_controller.save();return false;">
      <input type="text" data-bind-file="title" class="form-control col-lg-8" placeholder="Filename">
      <a href="javascript:void(0);" class="editor_save_button" >Save</a>
    </form>
    <span class="collaborators"></span>
  </div>
  <div id="expanded_menu">
  </div>
</div>
