<div class="modal fade" id="file_info_modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">File info</h4>
      </div>
      <div class="modal-body">
        <% unless @file.persisted? %>
          <p class="alert alert-info">This file hasn't been save to Google Drive yet. Information will change once it's saved.</p>
        <% end %>
        <p><b>File name : </b><%= @file.title %></p>
        <p><b>Google Drive file id : </b><%= @file.id %></p>
        <p><b>Mime type : </b><%= @file.type %></p>
        <p><b>Extension : </b><%= @file.extension %></p>
        <p><b>Syntax mode (on load) : </b><%= @file.syntax.display_name %></p>
      </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

  
