<h1>Listing syntaxes</h1>

<table>
  <tr>
    <th>Display Name</th>
    <th>Ace.js mode</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @syntaxes.each do |syntax| %>
  <tr>
  	<td><%= syntax.display_name %></td>
  	<td><%= syntax.ace_js_mode %></td>
    <td><%= link_to 'Show', syntax %></td>
    <td><%= link_to 'Edit', edit_syntaxis_path(syntax) %></td>
    <td><%= link_to 'Destroy', syntax, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Syntax', new_syntaxis_path %>
