<div class="footer_menu panel panel-default" >
  <div class="row">
    <div class="col-md-12">
      <div class="btn-group">
        <% if not is_admin %>
          <%= link_to "Admin login", admin_login_path %>
        <% else %>
          <%= link_to "Admin logout", admin_logout_path %>
          <%= link_to "Admin menu", admin_menu_path %>
        <% end %>
        
        <%= link_to "Contact", g_plus_url, :target => "_blank" %>
        
        
      </div>
    </div>
  </div>   
  
  <div class="row">
    <div class="col-md-12">
      <div class="btn-group">
        <a href="http://rubyonrails.org/" target="_blank" >
          Proudly powered by Rails 3.
          <%= image_tag "rails.png" , :width => 13 %>
        </a>
        <a href="https://drive.google.com" target="_blank" >
          Built for Google Drive
          <%= image_tag "gdrive.png" , :width => 13 %>
        </a>
        
      </div>
    </div>
  </div>   
    
</div>
