<div class="header_menu">

  <div class="btn-group">
    <%= link_to "Supported Mime types", mime_types_path, :class=> "btn btn-primary" %>
    <a class="btn btn-primary" href="<%= g_plus_url %>">Find us on <%= image_tag "gplus.jpg", :width => 15, :height => 15 %></a>
    <a class="btn btn-primary" href="<%= chrome_store_url %>">Download in Chrome Store <%= image_tag "chrome_store.jpg", :width => 15, :height => 15%></a>
  </div>

</div>
