<div class="row">
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-body">
          <div class="row">
            <div class="col-md-10 col-centered">
              <a href="<%= root_path %>"><%= image_tag "promo_small.png" , :width => 300 %></a>
            </div>
            <div class="col-md-10 col-centered">
              <a class="btn btn-success" href="<%= app_path %>">Launch app <%= image_tag "logo.png", :width => 25, :height => 25 %></a>
            </div>
            <div class="col-md-10 col-centered">
              <a class="btn btn-primary" target="_blank" href="<%= g_plus_url %>">Find us on <%= image_tag "gplus.jpg", :width => 15, :height => 15 %></a>
            </div>
            <div class="col-md-10 col-centered">
              <a class="btn btn-primary" target="_blank" href="<%= chrome_store_url %>">Download in Chrome Store <%= image_tag "chrome_store.jpg", :width => 15, :height => 15%></a>
            </div>
          </div>
      </div>
    </div>
  </div>


  <div class="col-md-7">
    <div class="row">
      <div class="col-md-12">
        <h3 class="top_notice alert alert-warning">Trouble getting started with the app ? <br> <a href="/faq">Read our FAQ</a></h3>
      </div>

      <div class="col-md-12">
        <div class="panel panel-primary">
            <h4 class="panel-heading">IMPORTANT NOTE</h4>
            <p class="panel-body">This app allows you to open any type of file as text (like Notepad++). It doesn't support modifying Word documents, Pages documents, PDF, Powerpoint documents, etc. This is meant to be a text editor and not a word processor like Microsoft Word or Pages.</p>
        </div>
      </div>

      <div class="col-md-12">
        <div class="top_notice alert alert-success"><h4>Version 4.0 has just been released adding Dropbox support !</h4></div>
      </div>
    </div>
  </div>
</div>
