<!DOCTYPE html>
<html>
<head>
  <title>AnyfileNotepad</title>
  <%= stylesheet_link_tag    "editor", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "ace.js/ace" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
