<!DOCTYPE html>
<html>
<head>
  <title><%= get_title %></title>
  
  <%= csrf_meta_tags %>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "editor", :media => "all" %>
  <%= stylesheet_link_tag    "/jqueryFileTree/jqueryFileTree.css", :media => "all" %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag    "/jqueryFileTree/jqueryFileTree.js"%>
  <%= javascript_include_tag    "/ace.js/ace.js" %>
  <%= javascript_include_tag    "//cdn.jsdelivr.net/jquery.cookie/1.4.0/jquery.cookie.min.js" %>

  <%= render 'layouts/analytics' %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>
<body>

<%= yield %>

  <script>
    function oauth_loaded(){
      oauth_controller.init()
    }
  </script>
  <%= render :partial => 'shared/modal', :locals => {:id => "auth_modal", :title => "You need to authorize this app to access your Google Drive", :message => "Without this the app is useless to you.", :with_bar => false, :buttons => {'start_g_oauth' => 'Authorize!'} } %>

  <%= javascript_include_tag    "//apis.google.com/js/client.js?onload=oauth_loaded" %>

    <script>
      $(document).ready(function() {
          $.material.init();
      });
    </script>
</body>
</html>
