<!DOCTYPE html>
<html>
<head>
  <title><%= get_title %></title>
  
  <%= csrf_meta_tags %>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "editor", :media => "all" %>
  <%= stylesheet_link_tag    "/jqueryFileTree/jqueryFileTree.css", :media => "all" %>

  <script src="https://cdn.ravenjs.com/2.2.0/raven.min.js"></script>
  <script>
    Raven.config('https://d9c57689a32749529f931077dfbe8abf@app.getsentry.com/69541').install()
  </script>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag    "/jqueryFileTree/jqueryFileTree.js"%>
  <%= javascript_include_tag    "/ace.js/ace.js" %>
  <%= javascript_include_tag    "https://cdn.jsdelivr.net/jquery.cookie/1.4.0/jquery.cookie.min.js" %>
  
  <%= javascript_include_tag    "https://cdnjs.cloudflare.com/ajax/libs/dropbox.js/0.10.2/dropbox.min.js" %>

  <%= render 'layouts/analytics' %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  
</head>
<body>

<%= yield %>

  <script>
    function oauth_loaded(){
      oauth_controller.init()
    }
  </script>

  <%= javascript_include_tag    "https://apis.google.com/js/client.js?onload=oauth_loaded" %>

    <script>
      $(document).ready(function() {
          $.material.init();
      });
    </script>
</body>
</html>
