<!DOCTYPE html>
<html>
<head>
  <title>AnyfileNotepad</title>
  
  <%= csrf_meta_tags %>
  
  <%= stylesheet_link_tag    "bootstrap-min", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap-theme-min", :media => "all" %>
  <%= stylesheet_link_tag    "editor", :media => "all" %>
  <%= stylesheet_link_tag    "jqueryFileTree", :media => "all" %>
  
  <%= javascript_include_tag "http://code.jquery.com/jquery-1.10.2.min.js" %>
  <%= javascript_include_tag "ace.js/ace" %>
  <%= javascript_include_tag "jqueryFileTree" %>
  <%= javascript_include_tag "bootstrap-min" %>
  
  
</head>
<body>

<%= yield %>

</body>
</html>
