<!DOCTYPE html>
<html>
<head>
  <title><%= get_title %></title>
  
  <%= csrf_meta_tags %>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "pages", :media => "all" %>

  <%= javascript_include_tag    "jquery" %>
  <%= javascript_include_tag    "jquery_ujs" %>
  <%= javascript_include_tag    "jquery-ui" %>
  <%= javascript_include_tag    "application" %>
  <%= javascript_include_tag    "/marked.js" %>

  <%= render 'layouts/analytics' %>
  
</head>
<body>

<div class="container">


  <div class="home_content">

    <%= render 'layouts/header_menu' %>
    <%= render 'shared/flash', :flash => flash %>
    
    <%= yield %>
    
  </div>

  <%= render 'layouts/footer_menu' %>

</div>

</body>
</html>
